{% extends "pages/WizardFiles/wizardPage.html" %}
{% block wizform %}
    {{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
    <h5>Confirmation: </h5>
        <div class="row">
                <div class="col-6">
                    <p>Graph type: {{ all_data.graphType }}</p>
                </div>
                <div class="col-6">
                    <p>Include table: {{ all_data.include_table }}</p>
                </div>
            </div>
            {% if all_data.title == '' %}
                <div class="row">
                    <div class="col-6">
                        <p>Custom title: No</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Custom title: {{ all_data.custom_title }}</p>
                    </div>
                    <div class="col-6">
                        <p>Title: {{ all_data.title }}</p>
                    </div>
                </div>
            {% endif %}
            {% if preset.report_type == 'Compare GPA against demographics' %}
            <div class="row">
                <div class="col-6">
                    <p>Category: {{ all_data.category }}</p>
                </div>
                <div class="col-6">
                    <p>GPA to compare: {{ all_data.gpa_to_compare }}</p>
                </div>
            </div>
                {% elif preset.report_type == 'Count visits over time' %}
                <div class="row">
                <div class="col-6">
                    <p>Selection: {{ all_data.selection }}</p>
                </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Autoscale: {{ preset.autoscale }}</p>
                </div>
                <div class="col-6">
                    <p>Dot/Line color: {{ all_data.select_dot_color }}</p>
                </div>
                <div class="col-6">
                    <p>Display graph as: {{ all_data.display_as }}</p>
                </div>
            </div>

            {% if all_data.autoscale == 'No' %}
            <div class="row">
                <div class="col-6">
                    <p>Max count: {{ all_data.max_count }}</p>
                </div>
                <div class="col-6">
                    <p>Increment by: {{ all_data.increment_by }}</p>
                </div>
            </div>
            {% endif %}
        <div class="row">
            <div class="col-6">
                <p>Attendance tracking location(s):
       {% for location in all_data.attendance_data %}
           {{ location }} {% if not forloop.last %},{% endif %} {% endfor %} </p>
            </div>

        </div>

{% endblock wizform %}