{% extends "pages/wizardPage.html" %}
{% block wizform %}
    {{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
    <h5>Confirmation: </h5>
        <div class="row">
            <div class="col-6">
                <p>Report Type: {{ all_data.graphType }}</p>
            </div>
            <div class="col-6">
                <p>Count total of category: {{ all_data.selection }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
               <p>From date: {{ all_data.from_time }}</p>
            </div>
            <div class="col-6">
                  <p>To date: {{ all_data.to_time }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Attendance tracking location(s):
       {% for location in all_data.attendance_data %}
           {{ location }} {% if not forloop.last %},{% endif %} {% endfor %} </p>
            </div>
            <div class="col-6">
                  <p>Max count: {{ all_data.max_count }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                 <p>Bar Color: {{ all_data.bar_color }}</p>
            </div>
            <div class="col-6">
                 <p>Autoscale count: {{ all_data.autoscale }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                 <p>Increment by: {{ all_data.increment_by }}</p>
            </div>
            <div class="col-6">
                <p>Attendance demographic data to include(s):
       {% for category in all_data.data %}
           {{ category }} {% if not forloop.last %},{% endif %} {% endfor %} </p>
            </div>
        </div>

    <h4>If this is correct, click "submit."</h4>
    <h4>If this is incorrect, return to a previous page to correct the information.</h4>
{% endblock wizform %}