{% extends "pages/WizardFiles/wizardPage.html" %}
{% block wizform %}
    {{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}

    <h5>Confirmation: </h5>
        <div class="row">
                <div class="col-6">
                    <p>Graph Type: {{ all_data.graphType }}</p>
                </div>
                <div class="col-6">
                    <p>Report type: {{ all_data.report_type }}</p>
                </div>
            </div>
            {% if all_data.title != '' %}
            <div class="row">
                <div class="col-6">
                    <p>Use Custom Title: Yes</p>
                </div>
                <div class="col-6">
                    <p>Title: {{ all_data.title }}</p>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom title: No</p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Include table: {{ all_data.include_table }}</p>
                </div>
                <div class="col-6">
                    <p>Bar color: {{ all_data.select_bar_color }}</p>
                </div>
            </div>
            {% if all_data.report_type == 'Compare GPA against demographics' %}
            <div class="row">
                <div class="col-6">
                    <p>Category: {{ all_data.category }}</p>
                </div>
                <div class="col-6">
                    <p>GPA to compare: {{ all_data.gpa_to_compare }}</p>
                </div>
            </div>
                {% elif all_data.report_type == 'Count visits over time' %}
                <div class="row">
                <div class="col-6">
                    <p>Selection: {{ all_data.selection }}</p>
                </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Autoscale: {{ all_data.autoscale }}</p>
                </div>
            </div>
            {% if all_data.autoscale == 'No' %}
            <div class="row">
                <div class="col-6">
                    <p>Max count: {{ all_data.max_count }}</p>
                </div>
                <div class="col-6">
                    <p>Increment by: {{ all_data.increment_by }}</p>
                </div>
            </div>
            {% endif %}
            {% if all_data.use_custom_event_name == 'Yes' %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ all_data.use_custom_event_name }}</p>
                    </div>
                    <div class="col-6">
                        <p>Custom event name: {{ all_data.custom_event_name }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ all_data.use_custom_event_name }}</p>
                    </div>
                </div>
            {% endif %}
        <div class="row">
            <div class="col-6">
                  <p>Attendance tracking location(s):
       {% for location in all_data.attendance_data %}
           {{ location }} {% if not forloop.last %},{% endif %} {% endfor %} </p>
            </div>

        </div>



{% endblock wizform %}