{% extends "pages/wizardPage.html" %}
{% block wizform %}
    {{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
    <h5>Confirmation: </h5>
        <div class="row">
            <div class="col-6">
                <p>Report Type: {{ all_data.graphType }}</p>
            </div>
            <div class="col-6">
                <p>Count total of category: {{ all_data.selection }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
               <p>From date: {{ all_data.from_time }}</p>
            </div>
            <div class="col-6">
                  <p>To date: {{ all_data.to_time }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Attendance tracking location(s):
       {% for location in all_data.attendance_data %}
           {{ location }} {% if not forloop.last %},{% endif %} {% endfor %} </p>
            </div>
            <div class="col-6">
                 <p>Data Units: {{ all_data.Data_units }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Include table? {{ all_data.include_table }}</p>
            </div>
        </div>


    <h4>If this is correct, click "submit."</h4>
    <h4>If this is incorrect, return to a previous page to correct the information.</h4>
{% endblock wizform %}