{% load static %}
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<!-- The below is filled in by html files that extend this base.html -->
	<title>{% block title %}VS Home Page{% endblock %}</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'pages/CSS/importStyles.css' %}">
	<link rel="stylesheet" href="{% static 'pages/CSS/customStyles.css' %}">
    <link rel="stylesheet" href="{% static 'pages/CSS/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'pages/CSS/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'pages/CSS/mdtimepicker.css' %}">

    {% load plotly_dash %}
    {% plotly_header %}
</head>
<body onload="quoteFade()">

    <div class="row text-white px-2" style="height:110vh;" >
	    <div class="col-auto border secondary-bg">
            <!-- col flex-column for nav-->
            <a href="/home/"><h1 class="mx-auto font-weight-bold text-white text-center"> VS-TAP </h1></a>
		    <nav class="nav flex-column rounded" id="main_navbar">
			    <a href="{% url 'homePage' %}" class="nav-link rounded nav-bg">Home</a>
			    <a href="{% url 'importPage' %}" class="nav-link rounded nav-bg">Upload</a>
				<a href="{% url 'reports' %}" class="nav-link rounded nav-bg">Reports</a>
				<a href="{% url 'vmcAdminPage' %}" class="nav-link rounded nav-bg">Administrative</a>
				

		    </nav>
            <br>
            <br>
			<br>
			<!-- Daniel Edited this portion belw to display username, Payton may change if he would like -->
			<!-- <h2>[Profile Name]</h2> -->
			<div class="text-center">
				{% if user.is_authenticated %}
				<h4>Hi {{user.first_name}}</h4>
                    {% if user.avatar %}
                    <img src='{{ user.avatar.url }}' class="rounded-circle" id='profImg' alt=''/>
                        {% endif %}
				<p><a href="{% url 'logout' %}">[Log Out]</a></p>
			{% else %}
				<p>You are not logged in</p>
				<a href="{% url 'login' %}">[Log In]</a>
			{% endif %}
			</div>
	    </div>
	
        <div class="col border main-bg">
		    <div class="row h-100 align-items-center justify-content-center">
		        <!-- The below is filled in by html files that extend this base.html -->
		        {% block content %}{% endblock %}
		    </div>
        </div>
    </div>
    <script src="{% static 'pages/JS/jquery.js' %}" type="text/javascript"> </script>
    <script src="{% static 'pages/JS/bootstrap.js' %}" type="text/javascript"> </script>
	<script src="{% static 'pages/JS/importApp.js' %}" type="text/javascript"> </script>
	<script src="{% static 'pages/JS/manualData.js' %}" type="text/javascript"> </script>
    <script src="{% static 'pages/JS/moment.js' %}" type="text/javascript"> </script>
    <script src="{% static 'pages/JS/jquery-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'pages/JS/scripts.js' %}" type="text/javascript"> </script>
    <script src="{% static 'pages/JS/wizard.js' %}" type="text/javascript"></script>
    <script src="{% static 'pages/JS/mdtimepicker.js' %}" type="text/javascript"></script>

	
</body>
 {% plotly_footer %}
</html>