{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- The below is filled in by html files that extend this base.html -->
	<title>{% block title %}VMC Home Page{% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'pages/CSS/customStyles.css' %}">
	<link rel="stylesheet" href="{% static 'pages/CSS/importStyles.css' %}">
    <link rel="stylesheet" href="{% static 'pages/CSS/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/CSS/jquery-ui.structure.min.css' %}">




</head>
<body>

    <div class="row text-white px-2" style="height:110vh;" >
	    <div class="col-auto border bg-dark">
            <!-- col flex-column for nav-->
            <a href="/home/"><h1 class="mx-auto font-weight-bold text-white text-center"> VMC-TAP </h1></a>
		    <nav class="nav flex-column rounded" id="main_navbar">
			    <a href="{% url 'homePage' %}" class="nav-link l1 active text-dark bg-success">Home</a>
			    <a href="{% url 'reports' %}" class="nav-link l1 text-dark bg-success">Reports</a>
			    <a href="{% url 'importPage' %}" class="nav-link l1 text-dark bg-success">Upload Files</a>
			    <a href="{% url 'vmcAdminPage' %}" class="nav-link l2 text-dark bg-success">Administrative</a>
		    </nav>
            <br>
            <br>
			<br>
			<!-- Daniel Edited this portion belw to display username, Payton may change if he would like -->
			<!-- <h2>[Profile Name]</h2> -->
			<div class="text-center">
				{% if user.is_authenticated %}
				<h4>Hi {{user.first_name}}</h4>
                    <img src='{{ user.avatar.url }}' class="rounded-circle" id='profImg' alt=''/>
				<p><a href="{% url 'logout' %}">[Log Out]</a></p>
			{% else %}
				<p>You are not logged in</p>
				<a href="{% url 'login' %}">[Log In]</a>
			{% endif %}
			</div>
	    </div>
	
        <div class="col border bg-secondary">
		    <div class="row h-100 justify-content-center align-items-center">
		        <!-- The below is filled in by html files that extend this base.html -->
		        {% block content %}{% endblock %}
		    </div>
        </div>
    </div>
    <script src="{% static 'pages/JS/jquery.js' %}" type="text/javascript"> </script>
    <script src="{% static 'pages/JS/bootstrap.js' %}" type="text/javascript"> </script>
	<script src="{% static 'pages/JS/importApp.js' %}" type="text/javascript"> </script>
    <script src="{% static 'pages/JS/moment.js' %}" type="text/javascript"> </script>
    <script src="{% static 'pages/JS/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'pages/JS/scripts.js' %}" type="text/javascript"> </script>

	
</body>
</html>