{% extends "pages/base.html" %}

{% block title %}Change Profile Image{% endblock title %}

{% block content %}
<div class="container fixed-top" id="AdminTitleContainer">
    <div class="row">
        <h1 class="d-flex justify-content-center">Change Profile Image for Account {{ email }}</h1>
    </div>
</div>

<div class="container">
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit"  value="OK" class="btn btn-primary BGroup">Submit</button>
        <a href="{% url 'otherAccountOptions' email %}" type="back" class="btn btn-primary BGroup">Back</a>
    </div>
</form>

</div>

{% endblock content %}