{% extends "pages/base.html" %}

{% block title %}Change Email{% endblock title %}

{% block content %}
<div class="container fixed-top" id="AdminTitleContainer">
    <div class="row">
        <h1 class="d-flex justify-content-center">Change Email for account {{ email }}</h1>
    </div>
</div>

<div class="container">
<form method="post">
    <div class="form-group">
        {% csrf_token %}
        {% if form.current_password.errors %}
            <div class="error">{{ form.current_password.errors }}</div>
        {% endif %}
        <label for="{{ form.current_password.id_for_label }}">Enter your password for your account {{ user.email }}:</label>
        {{ form.current_password }}
        <br>
        <label for={{ form.email_addr.id_for_label }}>New email for account {{ email }}:</label>
        <div class="input-group">
        {{ form.email_addr }}
        <div class="input-group-append">
                <span class="input-group-text" id='UnrAppend'>@unr.edu</span>
        </div>
        </div>
        <label for={{ form.email_confirm.id_for_label }}>Confirm new email for account {{ email }}</label>
        <div class="input-group">
        {{ form.email_confirm}}
        <div class="input-group-append">
                <span class="input-group-text" id="UnrAppend2">@unr.edu</span>
        </div>
        </div>
        <div class="registrationFormAlert" id="divCheckEmailMatch"> </div>
        <br>
        <button type="submit" id='emailSubmit' class="btn btn-lg nav-bg" value='OK'>Submit</button>
        <a href="{% url 'otherAccountOptions' email %}" type="back" class="btn btn-lg nav-bg">Back</a>
        {{ form.testemailfield }}
    </div>
</form>

</div>

{% endblock content %}