{% extends "pages/base.html" %}

{% block title %}Account Deleted{% endblock title %}

{% block content %}

    <div class="container w-50">
        <div class="row my-3">
                <div class="col text-center">
                    <h1>Preset {{ name }} successfully deleted!</h1>
                </div>
        </div>
        <div class="row my-3">
            <div class="col text-center">
                <a class="btn btn-lg nav-bg admin-btn-width" href="{% url 'reports' %}">Return to Reports</a>
            </div>
        </div>
    </div>

{% endblock content %}