{% extends "pages/base.html" %}

{% block title %}VS-TAP Home{% endblock title %}

{% block content %}
<div class="container h-50">
    <div class="quote hidden-content quote-container">"The willingness with which our young people are likely to serve in any war, no matter how justified, shall be directly proportional to how they perceive the Veterans of earlier wars were treated and appreciated by their nation." -President George Washington</div>
    <div class="quote hidden-content quote-container">“Some people wonder all their lives if they've made a difference, Marines don't have that problem.” -President Ronald Reagan</div>
    <div class="quote hidden-content quote-container">“... To care for him who shall have borne the battle and for his widow, and his orphan” -President Abraham Lincoln</div>
    <div class="quote hidden-content quote-container">“The veterans of our military services have put their lives on the line to protect the freedoms that we enjoy. They have dedicated their lives to their country and deserve to be recognized for their commitment.” -Judd Gregg</div>
    <div class="quote hidden-content quote-container">“Never was so much owed by so many to so few.” -Winston Churchill</div>
    <div class="quote hidden-content quote-container">“If you can read this, thank a teacher. If you can read it in English, thank a Veteran.” -Unknown</div> 
</div>
    


{% endblock content %}