{% extends "pages/base.html" %}

{% block title %}Import{% endblock title %}

{% block content %}
        <!-- Below the action attribute needs to have a URL to post data to (i.e. data parser) -->
        <form class="border w-25 container" method="" action="">

            <div class="col text-center pb-2">
                <h5>Import</h5>
            </div>

            <!-- Form group for selecting the document and doc type--> 
            <div class="form-group container row pb-2">
                    <select name="DocumentType" id="DocumentType" class="col-sm">
                        <option disabled selected value>--Document Type--</option>
                        <option value="Scanner document">Scanner CSV</option>
                        <option value="Demo Graphics">Demographics</option>
                        <option value="Google Forms">Google Forms Survey</option>
                    </select>
                    <input type="file" class="col-sm">
            </div>

            <!-- Radio buttons for selecting the locations that the associated document was taken-->
            <div class="text-center container row">
                <span class="">
                    <span class="col-sm-12">
                        <input type="radio" id="Pennington" name="documentType" class="">
                        <label for="Pennington">Pennintgon</label>
                    </span>
                   
                    <span class="col-sm-12">
                        <input type="radio" id="Fitzgerald" name="documentType">
                        <label for="Fitzgerald">Fitzgerald</label>
                    </span>
                    
                    <span class="col-sm-12">
                        <input type="radio" id="Event" name="documentType">
                        <input type="text" for="Event" placeholder="Event" class="w-25">
                    </span>
                </span>
            </div>

            <!-- submit Button -->
            <div class="col text-center pb-2">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
 {% endblock content %}