{% extends "pages/base.html" %}


{% block title %}Preset Options{% endblock title %}
{% block content %}
    <div class="container fixed-top" id="AdminTitleContainer">
       <div class="row">
          <h1 class="d-flex justify-content-center">Preset options for {{ name }}</h1>
        </div>
        {% if preset.graph_type == 'Bar Graph' %}
            <div class="row">
                <div class="col-6">
                    <p>Graph Type: {{ preset.graph_type }}</p>
                </div>
                <div class="col-6">
                    <p>Report type: {{ preset.report_type }}</p>
                </div>
            </div>
            {% if preset.title != '' %}
            <div class="row">
                <div class="col-6">
                    <p>Use Custom Title: Yes</p>
                </div>
                <div class="col-6">
                    <p>Title: {{ preset.title }}</p>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom title: No</p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Include table: {{ preset.include_table }}</p>
                </div>
                <div class="col-6">
                    <p>Bar color: {{ preset.select_bar_color }}</p>
                </div>
            </div>
            {% if preset.report_type == 'Compare GPA against demographics' %}
            <div class="row">
                <div class="col-6">
                    <p>Category: {{ preset.category }}</p>
                </div>
                <div class="col-6">
                    <p>GPA to compare: {{ preset.gpa_to_compare }}</p>
                </div>
            </div>
                {% elif preset.report_type == 'Count visits over time' %}
                <div class="row">
                <div class="col-6">
                    <p>Selection: {{ preset.selection }}</p>
                </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Autoscale: {{ preset.autoscale }}</p>
                </div>
                <div class="col-6">
                     <p>Locations to track: {{ preset.locations }}</p>
                </div>
            </div>
            {% if preset.autoscale == 'No' %}
            <div class="row">
                <div class="col-6">
                    <p>Max count: {{ preset.max_count }}</p>
                </div>
                <div class="col-6">
                    <p>Increment by: {{ preset.increment_by }}</p>
                </div>
            </div>
            {% endif %}
            {% if preset.use_custom_event_name == 'Yes' %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                    <div class="col-6">
                        <p>Custom event name: {{ preset.custom_event_name }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                </div>
            {% endif %}
        {% elif preset.graph_type == 'Histogram' %}
            <div class="row">
                <div class="col-6">
                    <p>Graph type: {{ preset.graph_type }}</p>
                </div>
                <div class="col-6">
                    <p>Time units: {{ preset.time_units }}</p>
                </div>
            </div>
            {% if preset.title != '' %}
            <div class="row">
                <div class="col-6">
                    <p>Use Custom Title: Yes</p>
                </div>
                <div class="col-6">
                    <p>Title: {{ preset.title }}</p>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom title: No</p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Include table: {{ preset.include_table }}</p>
                </div>
                <div class="col-6">
                    <p>Bar color: {{ preset.select_bar_color }}</p>
                </div>
            </div>
            {% if preset.autoscale == 'No' %}
            <div class="row">
                <div class="col-6">
                     <p>Max count: {{ preset.max_count }}</p>
                </div>
                <div class="col-6">
                    <p>Increment by: {{ preset.increment_by }}</p>

                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Autoscale: {{ preset.autoscale }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Locations to track: {{ preset.locations }}</p>
                </div>
            </div>
            {% if preset.use_custom_event_name == 'Yes' %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                    <div class="col-6">
                        <p>Custom event name: {{ preset.custom_event_name }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                </div>
            {% endif %}
        {% elif preset.graph_type == 'Line and/or Scatter' %}
            <div class="row">
                <div class="col-6">
                    <p>Graph type: {{ preset.graph_type }}</p>
                </div>
                <div class="col-6">
                    <p>Include table: {{ preset.include_table }}</p>
                </div>
            </div>
            {% if preset.title == '' %}
                <div class="row">
                    <div class="col-6">
                        <p>Custom title: No</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Custom title: {{ preset.custom_title }}</p>
                    </div>
                    <div class="col-6">
                        <p>Title: {{ preset.title }}</p>
                    </div>
                </div>
            {% endif %}
            {% if preset.report_type == 'Compare GPA against demographics' %}
            <div class="row">
                <div class="col-6">
                    <p>Category: {{ preset.category }}</p>
                </div>
                <div class="col-6">
                    <p>GPA to compare: {{ preset.gpa_to_compare }}</p>
                </div>
            </div>
                {% elif preset.report_type == 'Count visits over time' %}
                <div class="row">
                <div class="col-6">
                    <p>Selection: {{ preset.selection }}</p>
                </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Autoscale: {{ preset.autoscale }}</p>
                </div>
                <div class="col-6">
                    <p>Dot/Line color: {{ preset.dot_color }}</p>
                </div>
                <div class="col-6">
                    <p>Display graph as: {{ preset.display_options }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Locations to track: {{ preset.locations }}</p>
                </div>
            </div>
            {% if preset.autoscale == 'No' %}
            <div class="row">
                <div class="col-6">
                    <p>Max count: {{ preset.max_count }}</p>
                </div>
                <div class="col-6">
                    <p>Increment by: {{ preset.increment_by }}</p>
                </div>
            </div>
            {% endif %}
        {% elif preset.graph_type == 'Pie Chart' %}
            <div class="row">
                <div class="col-6">
                    <p>Graph type: {{ preset.graph_type }}</p>
                </div>
                <div class="col-6">
                    <p>Selection: {{ preset.selection }}</p>
                </div>

            </div>
            {% if preset.title != '' %}
            <div class="row">
                <div class="col-6">
                    <p>Use Custom Title: Yes</p>
                </div>
                <div class="col-6">
                    <p>Title: {{ preset.title }}</p>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom title: No</p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Include table: {{ preset.include_table }}</p>
                </div>
                <div class="col-6">
                    <p>Data units: {{ preset.data_units }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Locations to track: {{ preset.locations }}</p>
                </div>
            </div>
            {% if preset.use_custom_event_name == 'Yes' %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                    <div class="col-6">
                        <p>Custom event name: {{ preset.custom_event_name }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                </div>
            {% endif %}
        {% elif preset.graph_type == 'Individual Statistic' %}
            <div class="row">
                <div class="col-6">
                    <p>Graph type: {{ preset.graph_type }}</p>
                </div>
                <div class="col-6">
                    <p>Selection: {{ preset.selection }}</p>
                </div>
            </div>
            {% if preset.title == '' %}
                <div class="row">
                    <div class="col-6">
                        <p>Custom title: No</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Custom title: {{ preset.custom_title }}</p>
                    </div>
                    <div class="col-6">
                        <p>Title: {{ preset.title }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <p>Count options: {{ preset.count_options }}</p>
                </div>
                <div class="col-6">
                    <p>Header font color: {{ preset.header_font_color }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Statistic font color: {{ preset.statistic_font_color }}</p>
                </div>
                <div class="col-6">
                    <p>Statistic font size: {{ preset.statistic_font_size }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Header font size: {{ preset.header_font_size }}</p>
                </div>
                <div class="col-6">
                    <p>Locations to track: {{ preset.locations }}</p>
                </div>
            </div>
            {% if preset.use_custom_event_name == 'Yes' %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                    <div class="col-6">
                        <p>Custom event name: {{ preset.custom_event_name }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6">
                        <p>Use custom event name: {{ preset.use_custom_event_name }}</p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    <div id="IndividualAccountOptions" class="h-50">
        <div class="row ">
                <a type='button' href ="{% url 'viewPresets' %}" class="btn btn-lg nav-bg admin-btn-width"> Back </a>
        </div>
    </div>
    </div>

{% endblock content %}