{% extends "pages/base.html" %}


{% block title %}Accounts List{% endblock title %}
{% block content %}
    <div class="container fixed-top" id="AdminTitleContainer">
       <div class="row">
          <h1 class="d-flex justify-content-center">Accounts Options for {{ accountName }}</h1>
        </div>
        <div class="row">
            <h4 class="d-flex justify-content-center" id="name">{{ firstName }}  {{ lastName }}</h4>
        </div>



    <div id="IndividualAccountOptions">
        <div class="row">
            <a type="button" href="{% url 'vmcAdminPage' %}" class="btn btn-primary BGroup">Back</a>
        </div>
        <br>
        <div class="row ">
            <br>
            <a type="button" href="{% url 'changePassPage' accountName %}" class="btn btn-primary btn-lg BGroup">Change Account Password</a>
        </div>
        <br>
        <div class="row flex-column">
            <a type="button" class="btn btn-primary btn-lg BGroup" href="{% url 'changeName' accountName %}">Change Name</a>
        </div>
        <br>
        <div class="row flex-column">
            <a type="button" class="btn btn-primary btn-lg BGroup" href="{% url 'changeEmailPage' accountName %}">Change email address</a>
        </div>
        <br>
        <div class="row flex-column">
            <a type="button" class="btn btn-primary btn-lg BGroup" href="{% url 'changeProfilePicture' accountName %}">Change Profile Picture</a>
        </div>
        <br>
        <div class="row flex-column">
            <!-- Button trigger modal -->
            <button type="button" id="deleteButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirmation">
                Delete this Account
            </button>


        </div>
    </div>
    </div>

    <!-- Extra div closers, do not remove or else modal will not display properly -->
    </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDelete">Confirm Delete Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary BGroup" data-dismiss="modal">No</button>
                    <a type="button" href="{% url 'deleteAccount' accountName %} " class="btn btn-primary BGroup">Yes</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}