{% extends "pages/base.html" %}


{% block title %}Reports{% endblock title %}
{% block content %}
    <div class="container fixed-top justify-content-center" style="padding-left: 540px;">
        <div class="row">
            <h1 class="d-flex">Select reporting options:</h1>
        </div>
        <br>
        <div class="row">
            <a href="{% url 'reportsWizard' %}" class="btn btn-lg nav-bg listButtons">Reports Wizard</a>
        </div>
            <br>
        <div class="row">
            <a href="{% url 'viewPresets' %}" class="btn btn-lg nav-bg listButtons">Select from a saved report</a>
        </div>
    </div>


{% endblock content %}