{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'pages/CSS/importStyles.css' %}">
    </head>
    <body class="text-white main-bg">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

        <div class="container text-center main-bg mt-5">
            <h1>UNR Veteran Services Survey</h1>
        </div>


        
        

        <!-- Action needs to be filled with a URL for parse/sending to DB table. Currently we are redirecting to the login page-->
        <form id="container" class="container pb-2 form" method="post" action="/survey/">
            {% csrf_token %}
            <div class="w-100 shadow-lg rounded panel-bg">
                <h5>Personal Info</h5>
                <div class="row pb-2">
                    <div class="col">
                        <label for="NSHEID">NSHE ID</label><br>
                        <input type="text" id="NSHEID" name="student_id" placeholder="xxxxxxxxxx">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <label for="First_Name">First Name</label><br>
                        <input type="text" id="First_Name" name="first_name" placeholder="John">
                    </div>
                    <div class="col">
                        <label for="Last_Name">Last Name</label><br>
                        <input type="text" id="Last_Name" name="last_name" placeholder="Doe">
                    </div>
                </div>
            </div>

            <div class="w-100 shadow-lg rounded panel-bg">
                <h5>Benefit Chapter</h5>
                <input type="radio" id="30" name="benefit_chapter" value="30">
                <label for="30">30</label><br>

                <input type="radio" id="31" name="benefit_chapter" value="31">
                <label for="31">31</label><br>

                <input type="radio" id="33" name="benefit_chapter" value="33">
                <label for="33">33</label><br>

                <input type="radio" id="33TOE" name="benefit_chapter" value="33TOE">
                <label for="33TOE">33TOE</label><br>

                <input type="radio" id="35" name="benefit_chapter" value="35">
                <label for="35">35</label><br>

                <input type="radio" id="1606" name="benefit_chapter" value="1606">
                <label for="1606">1606</label><br>

                <input type="radio" id="FRY" name="benefit_chapter" value="FRY">
                <label for="FRY">FRY</label><br>

                <input type="radio" id="N/A" name="benefit_chapter" value="N/A">
                <label for="N/A">N/A</label><br>
            </div>

            <div class="w-100 shadow-lg rounded panel-bg">
                <h5>STEM Scholarship</h5>
                <input type="radio" id="Yes" name="is_stem" value="Yes">
                <label for="Yes">Yes</label><br>

                <input type="radio" id="No" name="is_stem" value="No">
                <label for="No">No</label><br>

                <input type="radio" id="Not sure" name="is_stem" value="Not sure">
                <label for="Not sure">Not sure</label><br>
            </div>

            <div class="w-100 shadow-lg1 rounded panel-bg">
                <h5>Currently Live</h5>
                <input type="radio" id="On campus" name="currently_live" value="On campus">
                <label for="On campus">I live on campus</label><br>

                <input type="radio" id="Off campus Less than 2 miles from UNR" name="currently_live" value="Off campus Less than 2 miles from UNR">
                <label for="Off campus Less than 2 miles from UNR">I live off campus; Less than 2 miles from UNR</label><br>

                <input type="radio" id="Off campus 2-5 miles from UNR" name="currently_live" value="Off campus 2-5 miles from UNR">
                <label for="Off campus 2-5 miles from UNR">I live off campus; 2-5 miles from UNR</label><br>

                <input type="radio" id="Off campus 6-10 miles from UNR" name="currently_live" value="Off campus 6-10 miles from UNR">
                <label for="Off campus 6-10 miles from UNR">I live off campus; 6-10 miles from UNR</label><br>

                <input type="radio" id="Off campus 11-20 miles from UNR" name="currently_live" value="Off campus 11-20 miles from UNR">
                <label for="Off campus 11-20 miles from UNR">I live off campus; 11-20 miles from UNR</label><br>

                <input type="radio" id="Off campus 21-40 miles from UNR" name="currently_live" value="Off campus 21-40 miles from UNR">
                <label for="Off campus 21-40 miles from UNR">I live off campus; 21-40 miles from UNR</label><br>

                <input type="radio" id="Off campus 41+ from UNR" name="currently_live" value="Off campus 41+ from UNR">
                <label for="Off campus 41+ from UNR">I live off campus; 41+ miles from UNR</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Employment</h5>

                <input type="radio" id="On campus2" name="employment" value="On campus">
                <label for="On campus2">Yes</label><br>

                <input type="radio" id="Off campus" name="employment" value="Off campus">
                <label for="Off campus">No</label><br>

                <input type="radio" id="Not employed" name="employment" value="Not employed">
                <label for="Not employed">Not employed</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Number of hours you work per week</h5>

                <input type="radio" id="0-5" name="work_hours" value="0-5">
                <label for="0-5">0-5 hours/week</label><br>

                <input type="radio" id="5-10" name="work_hours" value="5-10">
                <label for="5-10">5-10 hours/week</label><br>

                <input type="radio" id="10-20" name="work_hours" value="10-20">
                <label for="10-20">10-20 hours/week</label><br>

                <input type="radio" id="20-30" name="work_hours" value="20-30">
                <label for="20-30">20-30 hours/week</label><br>

                <input type="radio" id="30-40" name="work_hours" value="30-40">
                <label for="30-40">30-40 hours/week</label><br>

                <input type="radio" id="40+" name="work_hours" value="40+">
                <label for="40+">40+ hours/week</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Number of Dependents</h5>

                <input type="radio" id="None" name="dependents" value="None">
                <label for="None">None</label><br>

                <input type="radio" id="1" name="dependents" value="1">
                <label for="1">1</label><br>

                <input type="radio" id="2-3" name="dependents" value="2-3">
                <label for="2-3">2-3</label><br>

                <input type="radio" id="4-5" name="dependents" value="4-5">
                <label for="4-5">4-5</label><br>

                <input type="radio" id="5+" name="dependents" value="5+">
                <label for="5+">5+</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Marital Status</h5>

                <input type="radio" id="Married" name="marital_status" value="Married">
                <label for="Married">Married</label><br>

                <input type="radio" id="Single" name="marital_status" value="Single">
                <label for="Single">Single</label><br>

                <input type="radio" id="Widow" name="marital_status" value="Widow">
                <label for="Widow">Widow</label><br>

                <input type="radio" id="Divorced" name="marital_status" value="Divorced">
                <label for="Divorced">Divorced</label><br>

                <input type="radio" id="Separated" name="marital_status" value="Separated">
                <label for="Separated">Separated</label><br>

                <input type="radio" id="Living with Partner" name="marital_status" value="Living with Partner">
                <label for="Living with Partner">Living with Partner</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Gender Identity</h5>

                <input type="radio" id="Male" name="gender" value="Male">
                <label for="Male">Male</label><br>

                <input type="radio" id="Female" name="gender" value="Female">
                <label for="Female">Female</label><br>

                <input type="radio" id="Identity not listed" name="gender" value="Identity not listed">
                <label for="Identity not listed">Identity not listed</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Parent Education</h5>

                <input type="radio" id="Some High School" name="parent_education" value="Some High School">
                <label for="Some High School">Some High School</label><br>

                <input type="radio" id="GED" name="parent_education" value="GED">
                <label for="GED">GED</label><br>

                <input type="radio" id="Graduated High School" name="parent_education" value="Graduated High School">
                <label for="Graduated High School">Graduated High School</label><br>

                <input type="radio" id="Some College" name="parent_education" value="Some College">
                <label for="Some College">Some College</label><br>

                <input type="radio" id="Associates Degree" name="parent_education" value="Associates Degree">
                <label for="Associates Degree">Associates Degree</label><br>

                <input type="radio" id="Bachelors Degree" name="parent_education" value="Bachelors Degree">
                <label for="Bachelors Degree">Bachelors Degree</label><br>

                <input type="radio" id="Advanced Degree (PhD or Masters)" name="parent_education" value="Advanced Degree (PhD or Masters)">
                <label for="Advanced Degree (PhD or Masters)">Advanced Degree (PhD or Masters)</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Break in University Attendance</h5>

                <input type="radio" id="Yes2" name="break_in_attendance" value="Yes">
                <label for="Yes2">Yes</label><br>

                <input type="radio" id="No2" name="break_in_attendance" value="No">
                <label for="No2">No</label><br>

                <input type="radio" id="Not Sure2" name="break_in_attendance" value="Not Sure">
                <label for="Not Sure2">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Pell Grant</h5>

                <input type="radio" id="Yes3" name="pell_grant" value="Yes">
                <label for="Yes3">Yes</label><br>

                <input type="radio" id="No3" name="pell_grant" value="No">
                <label for="No3">No</label><br>

                <input type="radio" id="Not Sure2" name="pell_grant" value="Not Sure">
                <label for="Not Sure3">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Needs Based Grants/Scholarships</h5>

                <input type="radio" id="Yes4" name="needs_based" value="Yes">
                <label for="Yes4">Yes</label><br>

                <input type="radio" id="No4" name="needs_based" value="No">
                <label for="No4">No</label><br>

                <input type="radio" id="Not Sure4" name="needs_based" value="Not Sure">
                <label for="Not Sure4">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Merit Based Grants/Scholarships</h5>

                <input type="radio" id="Yes5" name="merit_based" value="Yes">
                <label for="Yes5">Yes</label><br>

                <input type="radio" id="No5" name="merit_based" value="No">
                <label for="No5">No</label><br>

                <input type="radio" id="Not Sure5" name="merit_based" value="Not Sure">
                <label for="Not Sure5">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Federal Work Study</h5>

                <input type="radio" id="Yes6" name="federal_work_study" value="Yes">
                <label for="Yes6">Yes</label><br>

                <input type="radio" id="No6" name="federal_work_study" value="No">
                <label for="No6">No</label><br>

                <input type="radio" id="Not Sure6" name="federal_work_study" value="Not Sure">
                <label for="Not Sure6">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Military Grants</h5>

                <input type="radio" id="Yes7" name="military_grants" value="Yes">
                <label for="Yes7">Yes</label><br>

                <input type="radio" id="No7" name="military_grants" value="No">
                <label for="No7">No</label><br>

                <input type="radio" id="Not Sure7" name="military_grants" value="Not Sure">
                <label for="Not Sure7">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Millennium Scholarship</h5>

                <input type="radio" id="Yes8" name="millennium_scholarship" value="Yes">
                <label for="Yes8">Yes</label><br>

                <input type="radio" id="No8" name="millennium_scholarship" value="No">
                <label for="No8">No</label><br>

                <input type="radio" id="Not Sure8" name="millennium_scholarship" value="Not Sure">
                <label for="Not Sure8">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>Nevada Pre-Paid</h5>

                <input type="radio" id="Yes9" name="nevada_prepaid" value="Yes">
                <label for="Yes9">Yes</label><br>

                <input type="radio" id="No9" name="nevada_prepaid" value="No">
                <label for="No9">No</label><br>

                <input type="radio" id="Not Sure9" name="nevada_prepaid" value="Not Sure">
                <label for="Not Sure9">Not Sure</label><br>
            </div>

            <div class="w-100 hiddenPanel shadow-lg rounded panel-bg">
                <h5>What is the best way to contact you?</h5>
                <input type="radio" id="Social Media" name="contact_method" value="Social Media">
                <label for="Social Media">Social Media</label><br>

                <input type="radio" id="Phone" name="contact_method" value="Phone">
                <label for="Phone">Phone</label><br>

                <input type="radio" id="Email" name="contact_method" value="Email">
                <label for="Email">Email</label><br>

                <input type="radio" id="Discord" name="contact_method" value="Discord">
                <label for="Discord">Discord</label><br>
            </div>

            <div class="text-center w-100 hiddenPanel button-sp">
                <input type="submit" value="Submit">
            </div>
        </form>
        <script src="{% static 'pages/JS/survey.js' %}" type="text/javascript"> </script>

    </body>
</html>
