{% extends "pages/base.html" %}

{% block title %}Accounts List{% endblock title %}

{% block content %}
    <div class="container fixed-top" id="AdminTitleContainer">
        <h1>VMC Accounts List</h1>
    </div>

    <div class="AdminButtonSection">
        <div class="row ">
            <a type="button" class="btn btn-primary btn-lg AccountButton">exampleaccount1@unr.edu</a>
        </div>
        <br>
        <br>
        <div class="row flex-column">
            <button type="button" class="btn btn-primary btn-lg AccountButton">exampleaccount2@unr.edu</button>
        </div>
        <br>
        <br>
        <div class="row flex-column>">
            <a type="button" class="btn btn-primary btn-lg AccountButton">exampleaccount3@unr.edu</a>
        </div>
    </div>
{% endblock content %}