{% extends "pages/base.html" %}

{% block title %}VMC-TAP Visualizations{% endblock title %}

{% block content %}
        <div class="container border w-50 bg-dark">

            <!-- Database query functionality to be placed here in the future -->
            <form method="" action="">
                <div class="row">
                    <h5 class="col text-center">Visualizations</h5>
                </div>

                <!-- Form group for selecting the document and doc type-->
                <div class="row my-3 form-group">
                    <div class="col-12 center">
                        <select name="GraphType" id="GraphType" class="col-sm text-center">
                            <option disabled selected value>--Select Graph Type--</option>
                            <option value="Histogram">Histogram</option>
                            <option value="X and Y Plot">X and Y Plot</option>
                            <option value="3D (X, Y, Z) Plot">3D (X, Y, Z) Plot</option>
                            <option value="Pie Chart"> Pie Chart </option>
                            <option value="Scatter Plot"> Scatter Plot (X, Y) </option>
                            <option value="Bar Graph"> Bar Graph </option>
                            <option value="Individual Statistic"> Individual Statistic </option>
                        </select>
                        <button onClick="DropDownSelect('GraphType');">Get Selected Item</button>
                    </div>

                </div>

                <!-- Radio buttons for selecting the locations that the associated document was taken-->

            </form>
        </div>



 {% endblock content %}