{% extends "pages/base.html" %}

{% block title %}VMC-TAP Admin{% endblock title %}

{% block content %}
<div class="container fixed-top" id="AdminTitleContainer">
    <div class="row">
        <h1 class="d-flex justify-content-center">Administrative Options</h1>
    </div>
</div>

<div id="AdminButtonSection">
    <div class="row ">
        <a type="button" href="{% url 'changePassPage' %}" class="btn btn-primary btn-lg BGroup">Change Account Password</a>
    </div>
    <br>
    <br>
    <div class="row flex-column">
        <button type="button" class="btn btn-primary btn-lg BGroup">Change Profile Image</button>
    </div>
    <br>
    <br>
    <div class="row flex-column>">
        <a type="button" class="btn btn-primary btn-lg BGroup" href="{% url 'changeEmailPage' %}">Change email address</a>
    </div>
    <br>
    <br>
    <div class="row flex-column">
        <a type="button" class="btn btn-primary btn-lg BGroup" href="{% url 'accountsView' %}">Accounts List and Options</a>
    </div>
</div>
{% endblock content %}