{% extends "pages/base.html" %}

{% block title %}VS-TAP Admin{% endblock title %}

{% block content %}
<div class="container fixed-top" id="AdminTitleContainer">
    <div class="row">
        <h1 class="d-flex justify-content-center">Administrative Options</h1>
    </div>
</div>

<div id="AdminButtonSection" class="h-50">
    <div class="row">
        <a type="button" href="{% url 'changePassPage' %}" class="btn btn-lg nav-bg admin-btn-width">Change Account Password</a>
    </div>
    <br>
    <br>
    <div class="row flex-column">
        <button type="button" class="btn btn-lg nav-bg admin-btn-width">Change Profile Image</button>
    </div>
    <br>
    <br>
    <div class="row flex-column>">
        <a type="button" class="btn btn-lg nav-bg admin-btn-width" href="{% url 'changeEmailPage' %}">Change Email Address</a>
    </div>
    <br>
    <br>
    <div class="row flex-column">
        <a type="button" class="btn btn-lg nav-bg admin-btn-width" href="{% url 'accountsView' %}">Accounts List and Options</a>
    </div>
</div>
{% endblock content %}