{% extends "pages/base.html" %}
{% load i18n %}

{% block title %}Reports Wizard{% endblock title %}

{% block content %}
        <div class="container border w-50 bg-dark" style="height:55vh;">
        <h1 class="text-center">Reports Wizard</h1>
        <h5> I need: </h5>
            <!-- Database query functionality to be placed here in the future -->
            <form action="" method="post">{% csrf_token %}
            <div class="row">
<table>
{% block wizform %}{% endblock wizform %}
</table>
                {% if wizard.steps.prev %}
    <div class="row">
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
    {% endif %}
    </div>
<input type="submit" value="{% trans "submit" %}"/>
            </div>
            </form>

</div>
{% endblock content %}