<!-- Generic webpage for a place holder to work around -->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VS-TAP</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'pages/CSS/importStyles.css' %}">
    </head>
    <body class="main-bg text-white">

        <!-- Welcome message -->
        <div class="container main-bg mt-5">
            <span class="text-center">
                <h1>Welcome to VS-TAP</h1>

                <!-- Image of the military seals -->
                <div class="">
                    <div class="row justify-content-center my-3">
                        <a href="/vmcadmin/ViewAccountsList/newAccount"><img src="{% static 'pages/images/Veteran_Services_Logo.png' %}" alt="Veterans Service Office Logo" class="" style="width:400px;"></a>
                    </div>
                </div>


<!-- New responsive login form -->
                <form class="container pb-2 form" method="post">
                    {% csrf_token %}
                    <h4>Sign In</h4>
                    <!-- Div for username which is the same as an email for login purposes -->
                    <div class="my-3">
                        <div>
                            <label for="">Email address:</label>
                        </div>
                        {{ form.username }}
                    </div>
                    <!-- Div for password paired with email for authentication -->
                    <div class="mb-3">
                        <div>
                            <label for="">Password:</label>
                        </div>
                        {{ form.password }}
                    </div>

                    
                    <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
                    <div class="row justify-content-center">
                        <button value="submit">Log In</button>
                    </div>
                </form>




            </span>
        </div>
        <script src="{% static 'pages/JS/importApp.js' %}" type="text/javascript"> </script>
    </body>
</html>

