{% extends "pages/base.html" %}
{% load plotly_dash %}


{% block title %}Save Report Wizard Presets{% endblock title %}
{% block content %}
    <div class="container" style="top:0%; position:absolute;">
        <div class="row">
            <h1 class="d-flex">Report: {{ graphTitle }}</h1>
        </div>
        <div class="row flex-column">
            <a class="btn btn-lg nav-bg" href="{% url 'visualizations:downloadFile' %}" style="width:250px;">Download Table as CSV</a>
        </div>
        <br>
        <div class="row flex-column">
             {% plotly_direct name="Graph" %}
        </div>

    </div>

{% endblock content %}