.full-height{
    height: 100vh;
}

#main_navbar{
    margin-top:100px;
}

.l1{
    border:solid #006400;
    border-radius:8px;
    border-bottom:none;
}

.l2{
    border:solid #006400;
    border-radius:8px;
}

#AdminTitleContainer{
   padding-left:500px;
    justify-content:center;
    align-items:center;

}

.BGroup{
    border-radius:12px;
    width:200px;
    background-color:#AAAFAA;
    color:black;
}

/*#profileImg{
    width:10%;
    height:auto;
}*/

